<nz-drawer
  [nzVisible]="isActive"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzWidth]="sizeModal"
  [nzClosable]="false"
  nzPlacement="right"
  [nzTitle]="title"
  [nzExtra]="extra"
  [nzFooter]="footer"
  (nzOnClose)="closeCheckChange()"
>
  <ng-container *nzDrawerContent>
    <form
    
    >
      <div>
        <h1 class="nv-body-14-semibold nv-text-neutral-600">
          General Information
        </h1>
        <div nz-row [nzGutter]="[24, 20]" class="nv-box-contract">
          <div
            class="col-item"
            nz-col
            [nzXs]="24"
            [nzMd]="12"
            [nzLg]="isFullScreen ? 6 : 12"
          >
            <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
              Supplier
            </label>
            <nz-form-item>
              <nz-form-control nzSpan="24">
                
                
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            class="col-item"
            nz-col
            [nzXs]="24"
            [nzMd]="12"
            [nzLg]="isFullScreen ? 6 : 12"
          >
            <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
              OPEX in charge
            </label>
            <nz-form-item>
             
            </nz-form-item>
          </div>
          <div
            class="col-item"
            nz-col
            [nzXs]="24"
            [nzMd]="12"
            [nzLg]="isFullScreen ? 6 : 12"
          >
            <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
              Contract no.
            </label>
            <nz-form-item>
              <nz-form-control nzSpan="24">
                <app-base-input
                  nvPlaceholder="Enter"
                  nvMaxLength="50"
                  formControlName="contractNumber"
                  size="ssmall"
                >
                </app-base-input>
              
              </nz-form-control>
            </nz-form-item>
          </div>
          <div
            class="col-item"
            nz-col
            [nzXs]="24"
            [nzMd]="12"
            [nzLg]="isFullScreen ? 6 : 12"
          >
            <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
              Contract duration
            </label>
            <nz-form-item>
              <nz-form-control nzSpan="24">
                <app-base-date-picker-range-new
                  class="nv-invalid nv-d-inherit nv-rounded-4"
                  formControlName="validRange"
                />
               
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </div>
     
      <div>
        <h1 class="nv-body-14-semibold nv-text-neutral-600">
          Currency Exchange
        </h1>
        <div class="wrapper-checkbox nv-box-contract">
          <nz-form-item>
            <nz-form-control>
              <nz-radio-group
                formControlName="exchangeRatesType"
                class="nv-flex nv-items-center nv-gap-16 nv-pl-12"
              >
                <div class="nv-flex nv-items-center">
                  <label
                    class="nv-body-12-semibold nv-text-neutral-500"
                    nz-radio
                    nzValue="BillingDate"
                  >
                    Billing date
                  </label>
                </div>
                <div class="nv-flex nv-items-center">
                  <label
                    class="nv-body-12-semibold nv-text-neutral-500"
                    nz-radio
                    nzValue="Fix"
                  >
                    Fix
                  </label>
                
                </div>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div>
        <div class="nv-flex nv-items-center nv-justify-space-between">
          <div>
            <h1 class="nv-body-14-semibold nv-text-neutral-600 nv-required">
              File Management
            </h1>
          </div>
          <div          
            class="nv-flex nv-items-center nv-gap-8 nv-pointer"
          >
            <span class="nv-body-12-semibold nv-text-primary-400"
              >Upload File</span
            >
            <!-- <app-icon-upload
              class="nv-d-inherit nv-text-primary-400 nv-icon-upload"
            /> -->
          </div>
        </div>

       
      </div>
    </form>
  </ng-container>
  <ng-template #title>
    <span class="nv-body-16-semibold nv-text-neutral-600">
      {{ id ? "Edit" : "Create" }} Contract
    </span>
  </ng-template>
  <ng-template #extra>
    <div class="nv-flex nv-gap-16">
      <!-- <div class="icon-header nv-border-radius-4" (click)="fullscreenToggle()">
        <app-icon-fullscreen
          *ngIf="!isFullScreen"
          class="nv-flex nv-text-neutral-300 nv-pointer"
        >
        </app-icon-fullscreen>
        <app-icon-fullscreen-exit
          *ngIf="isFullScreen"
          class="nv-flex nv-text-neutral-300 nv-pointer"
        >
        </app-icon-fullscreen-exit>
      </div>
      <div class="icon-header nv-border-radius-4" (click)="closeCheckChange()">
        <app-icon-close class="nv-flex nv-text-neutral-300 nv-pointer">
        </app-icon-close>
      </div> -->
    </div>
  </ng-template>
</nz-drawer>

<ng-template #errorMsg let-condition let-message="message">
  <p class="nv-input-errors nv-flex nv-items-center nv-gap-4" *ngIf="condition">
    <span class="error-icon"></span>

    {{ message }}
  </p>
</ng-template>

<ng-template #footer>
  <div class="nv-flex nv-gap-8 nv-justify-end">
    <app-base-button
      (click)="closeCheckChange()"
      className="base-button--text nv-px-12 nv-py-8"
    >
      Cancel
    </app-base-button>
    <app-base-button
      
    >
      Save
      <app-icon-save class="nv-d-inherit" />
    </app-base-button>
    <app-base-button
      className="base-button--primary base-button--text nv-px-12 nv-py-8"   
    >
      Save & Submit
      <app-icon-send class="nv-d-inherit" />
    </app-base-button>
  </div>
</ng-template>

