<app-base-table
nzShowSizeChanger
[isFiltering]="!!filterData.length"
[nvShowNav]="false"
[nvSelections]="nvSelections"
[nzColumns]="dataItemCells$ | async"
[nzLoading]="loading$ | async"
[nzData]="dataItems$ | async"
[nzTotal]="totalItem$ | async"
[nzPageIndex]="pageIndex$ | async"
[nzPageSize]="pageSize$ | async"
[nzScroll]="{
  y: (tableHeight || 0) + 'px'
}"
[nzFrontPagination]="false"
[nzShowPagination]="false"
[nzBodyRender]="customDataTemplate"

(nzQueryParams)="queryParamsChange($event)"
(nzSortOrderChange)="onSortOrderChange($event)"
>
</app-base-table>
<ng-template
  #customDataTemplate
  let-dataRow
  let-cellKey="cellKey"
  let-cellFormater="cellFormater"
>
  <ng-container *ngIf="cellFormater.templateCode">
      <span>{{dataRow[cellKey]}}</span>
  </ng-container> 
  <ng-container *ngIf="cellFormater.templateName">
    <span
      nv-ellipsis
      [nvEllipsisContent]="dataRow[cellKey]"
      [nvEllipsisClaim]="1"
      [nvEllipsisGap]="0"
    >
      {{dataRow[cellKey]}}
    </span>
  </ng-container>
  <ng-container *ngIf="cellFormater.templateQty">   
        <span>{{ dataRow[cellKey] | number  }}</span> 
  </ng-container>
  <ng-container *ngIf="cellFormater.templatePrice">   
    <span>{{ dataRow[cellKey] | number  }}</span> 
  </ng-container>
  <ng-container *ngIf="cellFormater.templateAmount">   
    <span>{{ dataRow[cellKey] | number  }}</span> 
  </ng-container>
  <ng-container>
  <div *ngIf="cellFormater.actionGroup" class="wrapper-kios-actions-td">        
    <app-base-button
      className="base-button--text nv-body-12-semibold nv-text-neutral-400 nv-bg-transparent"  
      (click)="onDelete(dataRow['code'])"      
    >
      <app-icon-delete class="nv-d-inherit">

      </app-icon-delete>
    </app-base-button>
  </div>
</ng-container>

</ng-template>