<app-base-modal
  [isVisible]="isVisible"
  (isVisibleChange)="onVisibleModal($event)"
  [size]="768"
  title="Create"  
  [footerDefault]="false"   
>

<div class="nv-overflow-auto" style="max-height: 70vh">  
<form nz-form [formGroup]="formUser">
  <div class="nv-rounded-4 nv-bg-gray nv-p-16 nv-mb-16">
  <div nz-row [nzGutter]="[24, 20]" class="nv-box-contract">
    <div
      class="col-item"
      nz-col
      [nzXs]="24"
      [nzMd]="12"      
    >
      <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
        Username
      </label>
      <nz-form-item>
        <nz-form-control nzSpan="24">
          <app-base-input  
          nvDisabled            
          nvPlaceholder="Enter"
          nvMaxLength="50"
          formControlName="username"
          size="ssmall"
          >
          </app-base-input>              
         
        </nz-form-control>
      </nz-form-item>
    </div>
    <div
    class="col-item"
    nz-col
    [nzXs]="24"
    [nzMd]="12"      
  >
    <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
      Fullname
    </label>
    <nz-form-item>
      <nz-form-control nzSpan="24">
        <app-base-input  
        nvDisabled            
        nvPlaceholder="Enter"
        nvMaxLength="50"
        formControlName="fullname"
        size="ssmall"
        >
        </app-base-input>           
      </nz-form-control>
    </nz-form-item>
  </div>
  <div
  class="col-item"
  nz-col
  [nzXs]="24"
  [nzMd]="24"      
>
<nz-input-group>
  <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" formControlName="searchValue" />
</nz-input-group>
<ng-template #suffixIcon>
  <span nz-icon nzType="search"></span>
</ng-template>
    <nz-tree
      [nzData]="nodes"
      nzCheckable
      nzMultiple      
      [nzSearchValue]="searchValue"
      [nzCheckedKeys]="defaultCheckedKeys"
      [nzExpandedKeys]="defaultExpandedKeys"
      [nzSelectedKeys]="defaultSelectedKeys"
      (nzClick)="nzEvent($event)"
      (nzExpandChange)="nzEvent($event)"
      (nzCheckBoxChange)="nzEvent($event)"
      (nzSearchValueChange)="nzEvent($event)"
    ></nz-tree>
  </div>
</div>
</div>
</form>
<ng-template #errorMsg let-condition let-message="message">
  <p class="nv-input-errors nv-flex nv-items-center nv-gap-4" *ngIf="condition">
    <span class="error-icon"></span>

    {{ message }}
  </p>
</ng-template>
</div>

<div nv-footer-right>
  <app-base-button
    className="base-button base-button--space"   
    (click) ="handleCancelModal()"
  >
    Cancel
  </app-base-button>
  <app-base-button
    className="base-button--primary base-button--space"   
    (click) ="handleSave()"
  >
    Save
    <app-icon-save class="nv-d-inherit" />
  </app-base-button>
</div>

</app-base-modal>