<app-base-modal
  [isVisible]="isActive"
  (isVisibleChange)="handleCancelModal()"
  [size]="768"  
  title="Đặt món bàn {{dataDetail?.name}}"  
  [footerDefault]="false"   
>

<div class="nv-overflow-auto" style="max-height: 70vh">  
<form nz-form [formGroup]="formModal">
  <div class="nv-rounded-4 nv-bg-gray nv-p-16 nv-mb-16">
  <div nz-row [nzGutter]="[24, 20]" class="nv-box-contract">
    <div
    class="col-item"
    nz-col
    [nzXs]="24"
    [nzMd]="12"
    >
    <label class="nv-text-neutral-400 nv-body-12-regular">
      Product
    </label>
    <nz-form-item>
      <nz-form-control nzSpan="24">
        <app-base-dropdown              
              [dataItems]="products"
              optionKey="code"
              [showSearchInput]="true"
              placeholder="Select"
              formControlName="product"
              (onChangeValue)="selectProduct($event)"      
              (onSearchValue)="onSearchProduct($event)"            
              [nvMenuItemRef]="productSelected"
            >
              <ng-template #productSelected let-item>
                <div class="nv-flex nv-gap-4">
                  <span> {{ item.code }} </span>
                  <span>|</span>
                  <span
                    nv-ellipsis
                    [nvEllipsisContent]="item.code"
                    [nvEllipsisClaim]="1"
                  >
                    {{ item.name }}
                  </span>
                </div>
              </ng-template>
        </app-base-dropdown>
        <ng-container
            *ngIf="
              formModal.controls.product as productControl
            "
          >
            <ng-container
              *ngTemplateOutlet="
                errorMsg;
                context: {
                  $implicit:
                  productControl.dirty &&
                  productControl.errors?.required,
                  message: 'This field is required!'
                }
              "
            >
            </ng-container>
          </ng-container>
      </nz-form-control>
    </nz-form-item>
    </div>
    <div
      class="col-item"
      nz-col
      [nzXs]="24"
      [nzMd]="12"      
    >
      <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
        Price
      </label>
      <nz-form-item>
        <nz-form-control nzSpan="24">
          <app-base-input  
          nvDisabled            
          nvPlaceholder="0"
          nvMaxLength="50"
          formControlName="price"
          [nvMaxLength]="13"
          nvMask="separator.0 "
          size="ssmall"
          >
          </app-base-input>              
          
        </nz-form-control>
      </nz-form-item>
    </div>  
    <div
      class="col-item"
      nz-col
      [nzXs]="24"
      [nzMd]="12"      
    >
      <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
        Quantity
      </label>
      <nz-form-item>
        <nz-form-control nzSpan="24">
          <app-base-input     
          [nvDisabled]="true"                   
          nvPlaceholder="0"
          nvMaxLength="10"
          formControlName="quantity"
          [nvMaxLength]="5"
          nvMask="separator.0 "
          size="ssmall"
          (ngModelChange)="onQuantityFocusOutEvent()"          
          >
          </app-base-input>              
          
        </nz-form-control>
      </nz-form-item>
    </div>  
    <div
      class="col-item"
      nz-col
      [nzXs]="24"
      [nzMd]="12"      
    >
      <label class="nv-text-neutral-400 nv-body-12-regular nv-required">
        Amount
      </label>
      <nz-form-item>
        <nz-form-control nzSpan="24">
          <app-base-input  
          nvDisabled            
          nvPlaceholder="0"
          nvMaxLength="10"
          formControlName="amount"
          [nvMaxLength]="10"
          nvMask="separator.0 "
          size="ssmall"
          >
          </app-base-input>              
          
        </nz-form-control>
      </nz-form-item>
    </div>  
    <div
        class="col-item"
        nz-col
        [nzXs]="24"
        [nzMd]="24"      
      >
      <app-table-order-list *ngIf="isActive" #tableOrderList />
    </div>
</div>
</div>
</form>
<ng-template #errorMsg let-condition let-message="message">
  <p class="nv-input-errors nv-flex nv-items-center nv-gap-4" *ngIf="condition">
    <span class="error-icon"></span>

    {{ message }}
  </p>
</ng-template>
</div>

<div nv-footer-right>
  <app-base-button
    className="base-button base-button--space"   
    (click) ="handleCancelModal()"
  >
    Cancel
  </app-base-button>
  <app-base-button
    className="base-button--primary base-button--space"   
    (click) ="handleSave()"
  >
    Save
    <app-icon-save class="nv-d-inherit" />
  </app-base-button>
</div>

</app-base-modal>