<div class="container-style">
    <div class="wrapper-image nv-mb-20">
      <img
        nz-image
        src="assets/images/background/403.png"
        alt="Error Forbidden"
      />
    </div>
    <div
      class="wrapper-message nv-flex nv-flex-col nv-justify-center nv-items-center nv-mb-16"
    >
      <span class="nv-body-16-semibold nv-text-neutral-700">Error forbidden</span>
      <span class="nv-body-14-regular nv-text-neutral-400"
        >You don’t have permission to access on this server</span
      >
    </div>
    <!-- <div class="wrapper-btns">
      <app-base-button class="nv-mr-8" (click)="onClickBack()">
        Back to Dashboard
      </app-base-button>
    </div> -->
  </div>
  