<div class="nv-table-wrapper">
    <app-base-table-nav
      *ngIf="nvShowNav"
      [(nvFilters)]="nvFilters"
      [(nvColumns)]="nzColumns"
      [nvSelections]="nvSelections"
      [nvNavConfig]="nvNavConfig"
      [isFiltering]="isFiltering"
      [nvSearchText]="nvSearchText"
      (nvColumnsChange)="colsUpdateHandler($event)"
      (nvFiltersChange)="filterChangeHandler($event)"
      [nzSelectionRender]="nzSelectionRender"
    >
      <ng-content select="[table-icon]" table-icon></ng-content>
      <ng-content
        select="[custom-content-table-nav]"
        custom-content-wrapper
      ></ng-content>
    </app-base-table-nav>
    <app-base-table-body
      [nzData]="nzData"
      [(nvFilters)]="nvFilters"
      [(nvColumns)]="nzColumns"
      [nzFrontPagination]="nzFrontPagination"
      [nzTotal]="nzTotal"
      [nzPageIndex]="nzPageIndex"
      [nvRowHighlightConfig]="nvRowHighlightConfig"
      [nvEnableVirtualScroll]="nvEnableVirtualScroll"
      [nzPageSize]="nzPageSize"
      [nzShowPagination]="nzShowPagination"
      [nzPaginationPosition]="nzPaginationPosition"
      [nzPaginationType]="nzPaginationType"
      [nzBordered]="nzBordered"
      [nzOuterBordered]="nzOuterBordered"
      [nzWidthConfig]="nzWidthConfig"
      [nzSize]="nzSize"
      [nzLoading]="nzLoading"
      [nzLoadingIndicator]="nzLoadingIndicator"
      [nzLoadingDelay]="nzLoadingDelay"
      [nzScroll]="nzScroll"
      [nzTitle]="nzTitle"
      [nzFooter]="nzFooter"
      [nzNoResult]="nzNoResult"
      [nzPageSizeOptions]="nzPageSizeOptions"
      [nzShowQuickJumper]="nzShowQuickJumper"
      [nzShowSizeChanger]="nzShowSizeChanger"
      [nzShowTotal]="nzShowTotal"
      [nzItemRender]="nzItemRender"
      [nzHideOnSinglePage]="nzHideOnSinglePage"
      [nzSimple]="nzSimple"
      [nzTemplateMode]="nzTemplateMode"
      [nzVirtualItemSize]="nzVirtualItemSize"
      [nzVirtualMaxBufferPx]="nzVirtualMaxBufferPx"
      [nzVirtualMinBufferPx]="nzVirtualMinBufferPx"
      [nzVirtualForTrackBy]="nzVirtualForTrackBy"
      [nzBodyRender]="nzBodyRender"
      [nzSelectionRender]="nzSelectionRender"
      [nvSelections]="nvSelections"
      [nvShowColumnOrder]="nvShowColumnOrder"
      (nzPageIndexChange)="onPageIndexChange($event)"
      (nzPageSizeChange)="onPageSizeChange($event)"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      (nzQueryParams)="onQueryParams($event)"
      (nzSortOrderChange)="sortOrderChange($event)"
      (onItemSelection)="itemSelectionHandler($event)"
      (onCheckedChange)="checkedHandler()"
      (nvFiltersChange)="filterChangeHandler($event)"
      (nvColumnsChange)="colsUpdateHandler($event)"
      (onCellFilterReset)="cellFilterResetHandler($event)"
    >
      <ng-content select="[custom-table-body]" custom-table-body></ng-content>
      <ng-content select="[col-selection]" col-selection></ng-content>
    </app-base-table-body>
  </div>
  