.login-form {
    max-width: 300px;
    margin-left: 100px;
    margin-top: 20px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
