<div class="page-wrapper">
  
    <div nz-row [nzGutter]="[24, 20]" class="nv-overflow-auto" style="max-height: 89vh">
        <div
        class="col-item"
        nz-col
        [nzXs]="24"
        [nzMd]="4"
        *ngFor="let card of cards"   
        >
        <nz-card class="custom-card" style="width:100%;" 
        [nzCover]="coverTemplate" [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
        (click)="onCardClick(card)"
        >
            <nz-card-meta
                nzTitle="Card title {{ card.name }}"
                nzDescription="This is the description for card {{ card.name }}"
                [nzAvatar]="avatarTemplate"               
            ></nz-card-meta>
            </nz-card>
            <ng-template #avatarTemplate>
            <nz-avatar (click)="onCardClick(card)" nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"></nz-avatar>
            </ng-template>
            <ng-template #coverTemplate>
            <img alt="example" class="custom-template" src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png" />
            </ng-template>
            <ng-template #actionSetting >
                <span nz-icon nzType="edit" (click)="onActionClick($event, card)"></span>
            </ng-template>
            <ng-template #actionEdit>
            <span nz-icon nzType="edit" (click)="onActionClick($event, card)"></span>
            </ng-template>
            <ng-template #actionEllipsis>
            <span nz-icon nzType="ellipsis" (click)="onActionClick($event, card)"></span>
            </ng-template>
        </div>
    
    </div>
</div>